<h1>Карта с дырками</h1>
<div id="test"></div>
<div id="map" class="map">
</div>
<select name="hair" id="hair-select">
  <option disabled selected>Выберите цвет волос</option>
  <option value="Blond">Blond</option>
  <option value="Brown">Brown</option>
  <option value="Black">Black</option>
  <option value="Red">Red</option>
  <option value="Без волос">Без волос</option>
</select>
<br>
<select name="height" id="height-select">
  <option disabled selected>Выберите рост</option>
  <option value="120-140">120-140</option>
  <option value="141-160">141-160</option>
  <option value="161-180">161-180</option>
  <option value="181-200">181-200</option>
</select>
<br>
<select name="age" id="age-select">
  <option disabled selected>Выберите возраст</option>
  <option value="Молодая">Молодая</option>
  <option value="Старая">Старая</option>
</select>

